@import url('https://fonts.cdnfonts.com/css/cascadia-code');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-cascadia {
  font-family: 'Cascadia Code', monospace;
}

html{
  overscroll-behavior: none;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}